<!DOCTYPE html>
<html xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Our Lady Mother of the Church | Funerals</title>
	<meta name="author" content="Our Lady Mother of the Church" />
    <link href="styles/custom2015.css" rel="stylesheet">


    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">
    <link href="dist/css/bootstrap-theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- AngularJS -->
    <script src="/angular/angular-v1.3.16.min.js"></script>
</head>

<body ng-app="pdfInfo">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Our Lady Mother of the Church</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			<li><a href="/">Welcome</a></li>
			<li><a href="/times">Mass Times</a></li>
			<li class="dropdown active">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Worship<span class="caret"></span></a>
	            <ul class="dropdown-menu" role="menu">
	              <li><a href="/funerals">Funerals</a></li>
	              <!--<li class="divider"></li>-->
	            </ul>
	        </li>
			<li><a href="/bulletin">Bulletin</a></li>
			<li class="dropdown">
				<a href="/education" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Religious Education <span class="caret"></span></a>
	            <ul class="dropdown-menu" role="menu">
	              <li><a href="/mission">Mission Statement</a></li>
	              <li><a href="/information">Information and Registration</a></li>
	              <li><a href="/edu-calendar">RE Program Calendar</a></li>
	              <li><a href="/sacrament">Sacramental Preparation Process</a></li>
	              <!--<li class="divider"></li>-->
	            </ul>
			</li>
			<li><a href="/staff">Staff</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://connectnow.parishsoft.com/Chicago/Default.aspx" target="_blank">ConnectNow</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
		
		 <!-- Begin page content -->
	<div class="container" ng-controller="MainController">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3"><img data-src="holder.js/1140x500" src="/images/heros/OLMC_0081a.JPG" class="img-rounded img-responsive"></div>
		</div>
	    <div class="page-header">
	        <h2>Funeral Planning at Our Lady, Mother of the Church</h2>
	    </div>
	    <h3 class="lead">
			<a href="/funerals"><span class="glyphicon glyphicon-share-alt"></span></a> Old Testament Readings
	    </h3>
	    <div class="row">
	    	<div class="col-xs-12">
			    <table class="table table-striped">
		            <tr>
		                <th width="5%">#</th>
		                <th width="75%">Title</th>
		                <th width="20%">Link</th>
		            </tr>
		            <tr ng-repeat="oldtestament in oldtestaments">
		                <td>{{ oldtestament.number }}</td>
						<td>{{ oldtestament.title }}</td>
						<td><a target="_new" ng-href="/pdf/old_testament/{{ oldtestament.pdf }}">{{ oldtestament.reference }}</a></td>
		            </tr>
		        </table>
		    </div>
			<div style="clear:both;"></div>
	    	<div class="col-xs-12">
				Please note: <br />
				During the Easter Season, one of the following four readings is used as a first reading instead of a passage from the Old Testament.
				<br /><br />
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
			    <table class="table table-striped">
		            <tr>
		                <th width="10%">#</th>
		                <th width="70%">Title</th>
		                <th width="20%">Link</th>
		            </tr>
		            <tr ng-repeat="oldeastertestament in oldeastertestaments">
		                <td width="10%">{{ oldeastertestament.number }}</td>
						<td width="70%">{{ oldeastertestament.title }}</td>
						<td width="20%"><a target="_new" ng-href="/pdf/old_testament/{{ oldeastertestament.pdf }}">{{ oldeastertestament.reference }}</a></td>
		            </tr>
				</table>
			</div>
		</div>
		<!--<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #2<br />
				Long Version <br />
				Read by: __________________________________________ 
			</div>
			<div class="col-xs-4 lead">
				Wisdom 3:1-9 
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the Book of Wisdom </strong><br />
				The souls of the just are in the hand of God,
				and no torment shall touch them.
				They seemed, in the view of the foolish, to be dead; and their passing away was thought an affliction and their going forth from us, utter destruction.
				But they are in peace. 
				For if before men, indeed, they be punished,
				yet is their hope full of immortality;
				Chastised a little, they shall be greatly blessed,
				because God tried them and found them worthy of himself. As gold in the furnace, he proved them, 
				and as sacrificial offerings he took them to himself. 
				In the time of their visitation they shall shine, and shall dart about as sparks through stubble; They shall judge nations and rule over peoples and the Lord shall be their King forever.
				Those who trust in him shall understand truth, and the faithful shall abide with him in love: Because grace and mercy are with his holy ones, and his care is with his elect. 
				<br /><br />
				<strong>The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #2<br />	
				Short Version<br />
				Read by: __________________________________________ 
			</div>
			<div class="col-xs-4 lead">
				Wisdom 3:1-6, 9 
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A reading from the Book of Wisdom </strong><br />
				The souls of the just are in the hand of God,
				and no torment shall touch them.
				They seemed, in the view of the foolish, to be dead; and their passing away was thought an affliction and their going forth from us, utter destruction.
				But they are in peace. 
				For if before men, indeed, they be punished,
				yet is their hope full of immortality;
				Chastised a little, they shall be greatly blessed,
				because God tried them and found them worthy of himself. As gold in the furnace, he proved them, 
				and as sacrificial offerings he took them to himself. 
				Those who trust in him shall understand truth, and the faithful shall abide with him in love: Because grace and mercy are with his holy ones, and his care is with his elect. 
				<br /><br />
				<strong id="wis4">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #3<br />
				Read by: __________________________________________ 
			</div>
			<div class="col-xs-4 lead">
				Wisdom 4:7-15 
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the Book of Wisdom: </strong><br />
				The just man, though he die early, shall be at rest. For the age that is honorable comes not
				with the passing of time,
				nor can it be measured in terms of years. 
				Rather, understanding is the hoary crown for men,
				and an unsullied life, the attainment of old age.
				He who pleased God was loved;
				he who lived among sinners was transported
				Snatched away, lest wickedness pervert his mind or deceit beguile his soul; For the witchery of paltry things obscures what is right 
				and the whirl of desire transforms the innocent mind. 
				Having become perfect in a short while,
				he reached the fullness of a long career;
				for his soul was pleasing the Lord,
				therefore he sped him out of the midst of wickedness. 
				But the people saw and did not understand,
				nor did they take this into account.
				Because grace and mercy are with his holy ones, and his care is with his elect. 
				<br /><br />
				<strong id="is25">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #4<br />
				Read by: __________________________________________ 
			</div>
			<div class="col-xs-4 lead">
				Isaiah 25:6, 7-9 
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the book of the prophet Isaiah </strong><br />
				On this mountain the Lord of hosts will provide for all peoples. 
				On this mountain he will destroy
				the veil that veils all peoples,
				The web that is woven over all nations; God will destroy death forever. 
				The Lord God will wipe away
				the tears from all faces;
				The reproach of his people he will remove from the whole earth; for the Lord has spoken. 
				On that day it will be said:
				"Behold our God, to whom we looked to save us! This is the Lord for whom we looked;
				let us rejoice and be glad that he has saved us!" 
				<br /><br />
				<strong id="lam3">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #5<br />
				Read by: __________________________________________ 
			</div>
			<div class="col-xs-4 lead">
				Lamentations 3:17-26
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the book of Lamentations </strong><br />
				My soul is deprived of peace,
				I have forgotten what happiness is: I tell myself my future is lost,
				all that I hoped for from the Lord. 
				The thought of my homeless poverty is wormwood and gall; Remembering it over and over leaves my soul downcast within me. 
				But I will call this to mind,
				as my reason to have hope:
				The favors of the Lord are not exhausted, his mercies are not spent;
				They are renewed each morning,
				so great is his faithfulness. 
				My portion is the Lord says my soul; therefore will I hope in him.
				Good is the Lord to one who waits for him, to the soul that seeks him;
				It is good to hope in silence
				for the saving help of the Lord. 
				<br /><br />
				<strong id="ez37">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #34<br />
				Read by: __________________________________________ 
			</div>
			<div class="col-xs-4 lead">
				Ezekiel 37:12-14 
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the book of the prophet Ezekiel </strong><br />
				Thus says the Lord God:
				O my people, I will open your graves and have you rise from them, and bring you back to the land of Israel. 
				Then you shall know that I am the Lord, when I open your graves and have you rise from them, O my people! 
				I will put my spirit in you that you may live, and I will settle you upon your land;
				thus you shall know that I am the Lord.
				I have promised, and I will do it, says the Lord. 
				<br /><br />
				<strong id="prv31">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #158<br />
				Read by: __________________________________________ 
			</div>
			<div class="col-xs-4 lead">
				Proverbs 31:10-13, 20, 25-31
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the Book of Proverbs </strong><br />
				When one finds a worthy wife, her value is far beyond pearls. Her husband, entrusting his heart to her, has an unfailing prize. She brings him good, and not evil, all the days of her life. 
				She obtains wool and flax and makes cloth with skillful hands.
				She reaches out her hands to the poor, and extends her arms to the needy 
				She is clothed with strength and dignity, and she laughs at the days to come. She opens her mouth in wisdom, and on her tongue is kindly counsel.
				She watches the conduct of her household, and eats not her food in idleness. 
				Her children rise up and praise her; her husband, too, extols her:
				“Many are the women of proven worth, but you have excelled them all." 
				Charm is deceptive and beauty fleeting; the woman who fears the Lord is to be praised. Give her a reward of her labors, and let her works praise her at the city gates.
				<br /><br />
				<strong id="ez34">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #173<br />
				Read by: _______________________
			</div>
			<div class="col-xs-4 lead">
				Ezekiel 34:11-16
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the book of the Prophet Ezekiel: </strong><br />
				For thus says the Lord God: I myself will look over my sheep.
				As a shepherd tends his flock when he finds himself among his scattered sheep,
				so will I tend my sheep. 
				I will rescue them from every place where they were scattered when it was cloudy and dark.
				I will lead them out from among the peoples
				and bring them back from the foreign lands; 
				I will bring them back to their own country
				and pasture them upon the mountains of Israel.
				In good pastures will I pasture them,
				and on the mountain heights of Israel shall be their grazing ground. There they shall lie down on good grazing ground,
				and in rich pastures shall they be pastured on the mountains of Israel. 
				I myself will pasture my sheep; I myself will give them rest, says the Lord God.
				The lost I will seek out, the strayed I will bring back,
				the injured I will bind up, the sick I will heal, shepherding them rightly. 
				<br /><br />
				<strong id="is65">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #245<br />
				Read by: ________________________ 
			</div>
			<div class="col-xs-4 lead">
				Isaiah 65:17-21
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the book of the prophet Isaiah </strong><br />
				Lo, I am about to create new heavens and a new earth;
				The things of the past shall not be remembered or come to mind. 
				Instead, there shall always be rejoicing and happiness in what I create; For I create Jerusalem to be a joy
				and its people to be a delight; 
				I will rejoice in Jerusalem and exult in my people. No longer shall the sound of weeping be heard there, or the sound of crying; 
				No longer shall there be in it an infant who lives but a few days, or an old man
				who does not round out his full lifetime; 
				He dies a mere youth who reaches but a hundred years, and he who fails of a hundred shall be thought accursed. 
				They shall live in the houses they build, and eat the fruit of the vineyards they plant. 
				<br /><br />
				<strong id="eccl3">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #453<br />
				Read by: ______________________ 
			</div>
			<div class="col-xs-4 lead">
				Ecclesiastes 3:1-11 
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the Book of Ecclesiastes </strong><br />
				There is an appointed time for everything, and a time for every affair under the heavens. 
				A time to be born, and a time to die;
				a time to plant, and a time to uproot the plant. 
				A time to kill, and a time to heal;
				a time to tear down, and a time to build. 
				A time to weep, and a time to laugh; A time to mourn and a time to dance. 
				A time to scatter stones, and a time to gather them;
				A time to embrace, and a time to be far from embraces. 
				A time to seek, and a time to lose;
				a time to keep, and a time to cast away. 
				A time to rend, and a time to sow;
				a time to be silent, and a time to speak. 
				A time to love, and a time to hate; a time of war, and a time of peace. 
				What advantage has the worker from his toil?
				I have considered the task, which God has appointed for men to be busied about.  He has made everything appropriate to its time, and has put the timeless into their hearts, without men’s ever discovering, from beginning to end, the work which God has done. 
				<br /><br />
				<strong id="is41">The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 lead">
				Old Testament Reading #821<br />
				Read by: _______________________ 
			</div>
			<div class="col-xs-4 lead">
				Isaiah 41:8-10, 13
			</div>
			<div style="clear:both;"></div>
			<div class="col-xs-12">
				<strong>A Reading from the Book of the Prophet Isaiah </strong><br />
				But you, Israel, my servant, Jacob, whom I have chosen, offspring of Abraham my friend- 
				You whom I have taken from the ends of the earth and summoned from its far-off places,
				You whom I have called my servant,
				whom I have chosen and will not cast off- 
				Fear not, I am with you;
				be not dismayed; I am your God.
				I will strengthen you, and help you,
				and uphold you with my right hand of justice. 
				For I am the Lord, your God, who grasps your right hand; It is I who say to you, "Fear not, I will help you." 
				<br /><br />
				<strong>The Word of the Lord.</strong><br />
				Response: Thanks be to God.<br /><br />
			</div>
		</div>-->

		<footer class="footer" style="margin-top:20px;">
			<div class="row">
				<div class="col-xs-12"><img data-src="holder.js/1140x150" src="/images/heros/OLMC_0289a.JPG" class="img-rounded img-responsive"></div>
			</div>
	      	<div class="container">
	        	<p class="text-muted" style="text-align:center;">&copy; 2015</p>
	      	</div>
    	</footer>
	</div>


    <!-- Modules -->
    <script src="/angular/app.js"></script>

    <!-- Controllers -->
    <script src="/angular/controllers/MainController.js"></script>

    <!-- Directives
    <script src="/angular/directives/appPDFInfo.js"></script>
    <script src="/angular/directives/appPDFInfo.html"></script> -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>


	<script type="text/javascript">
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22789078-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
		
	</script>
</body>
</html>
